@import '../variables.scss';

.btn {
  background-color: $btn-bg;
  color: $btn-color;
  margin: 2px;
  width: 45px;
  height: 35px;
  border-radius: 2px;
  font-size: 16px;

  &:hover {
    background-color: $btn-hover
  }
}


