@import './variables.scss';

.App {
  margin: auto;
  margin-top: 20px;
  width: 300px;
  background-color: $primary-color;  
  border: solid 1px black;
  
  .App-header {
    color: $secondary-color;
    min-height: 10vh;
    font-size: calc(10px + 2vmin);
    border-bottom: solid 2px $secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

#display {
  margin: 5px;
  padding: 0 5px;
  background-color: $display-bg;
  min-height: 8vh;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  text-align: right;
  word-break: break-all;
}
  #formula {
    color: $formula-color;
    flex-grow: 1;
  }
  #input {
    flex-grow: 1;    
    color: $input-color;
  }

.btn-container {
  padding: 5px;
  background-color: $btn-container-bg;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: $btn-height;
  grid-template-areas: 
      "seven eight nine plus"
      "four five six subtract"
      "one two three multiply"
      "zero zero decimal divide"
      "clear clear equals equals";
  grid-gap: 5px;     
}
  #zero{ grid-area: zero };
  #one{ grid-area: one };
  #two{ grid-area: two };
  #three{ grid-area: three };
  #four{ grid-area: four};
  #five{ grid-area: five };
  #six{ grid-area: six };
  #seven{ grid-area: seven };
  #eight{ grid-area: eight };
  #nine{ grid-area: nine };
  #plus{ grid-area: plus };
  #subtract{ grid-area: subtract };
  #multiply{ grid-area: multiply };
  #divide{ grid-area: divide };
  #clear{ grid-area: clear };
  #equals{ grid-area: equals };
  #decimal { grid-area: decimal; font-size: 20px; };

#clear:hover {
  background-color: $clear-hover;
}

